fail_fast: true
repos:
-   repo: meta
    hooks:
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
    -   id: prettier
        files: \.(css|js|md|markdown|json)
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-ast
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-xml
    -   id: check-yaml
        args:
        - --unsafe
    -   id: end-of-file-fixer
    -   id: forbid-new-submodules
    -   id: no-commit-to-branch
        args:
        - --branch
        - gh-pages
    -   id: requirements-txt-fixer
    -   id: sort-simple-yaml
    -   id: trailing-whitespace
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    -   id: shfmt
        name: shfmt
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies:
        - mvdan.cc/sh/v3/cmd/shfmt@v3.1.1
        entry: shfmt
        args:
        - -w
        - -i
        - '4'
        types:
        - shell
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
-   repo: https://github.com/hcodes/yaspeller.git
    rev: v10.0.1
    hooks:
    -   id: yaspeller
        files: \.en\.md
        types:
        - markdown
